body {
    margin: 0%;
}
header{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    position: absolute;

}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}
nav{
    display:inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav a {
    margin: 0%;
    width: 25%;
    display: inline-block;
    text-align: center;
    height: 100%;
    float: left;
}

#ploegen {
    background-image: url("resources/depositphotos_52470805-stockafbeelding-mensen-houden-van-vlaggen-van.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;

}
#Stadions{
    background-image: url("resources/stadion-gras.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
}
#Opsteling{
    background-image: url("resources/AdobeStock_65501332-660x440.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
}
#Simulatie{
    background-image: url("resources/groepsindeling-kwalificatie-wk-2018.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
nav span {
    margin-top: 30px;
}
html, body {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    background:yellow;
    float: left;
}
dialog {
    display: none;
    position: absolute;
    width: 25%;
    float: left;
}
dialog img {
    width: 40%;
    float: left;
}